---

import { getCollection, render } from "astro:content"; // REnder es para renderizar el contenido del archivo MD
import Layout from "../../layouts/Layout.astro";


//Devuelve tla funciona todas las rutas estaticas que queres que responda
export async function getStaticPaths() {

    const books = await getCollection("books"); // TRaemos la coleccion y luego mapeamos la info

    return books.map(

        (book) => ({
            params: { id: book.slug },
            props: book 
        })
    )

}

const { data, slug }:any = Astro.props;
const { id } = Astro.params;


const { title, author, img, buy } = data;

const { usa, spain } = buy;

const { Content } = await render(Astro.props); // REnderiza el contenido de los archivos Markdown



---


<Layout title={`${id}`}>
    <h1
        transition:name= {`title-${slug}`} 
    >{title}</h1>
    <h2>{author}</h2>
    <img
        transition:name= {`img-${slug}`} 
        src={`../../public/${img}`} 
        alt={id}
    >
    <br>
    <a href={`${usa}`}>{usa}</a>
    <br>
    <a href={`${spain}`}>{spain}</a>
    <div class="content">
<br>
        <Content></Content>
    </div>
  

</Layout>

<style>
    .content {
        width: 100%;
        display: flex;
    }
    img {
        width: 300px;
        height: 300px;
    }
</style>