---

import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

//Leer la coleccion seteada desde config.ts
const books = await getCollection("books"); // Viene de books/config.ts
// books[0].slug SLUG es el titulo de cada archivo



---

<Layout>
	<main>
		<h1>Bienvenido libros</h1>
		<h2></h2>
	</main>

	<section>
		<h1>libros</h1>
		<div>
			{
				books.map((book:any) => {
					
				
					const { slug, data } = book
					const { title, author, img, readtime, description, buy } = data

					return (
						<article>
							<h2
								transition:name= {`title-${slug}`} 
							>{title}</h2>
							<h3>{author}</h3>
							<a href={`/libro/${slug}`}>
								<img
									transition:name= {`img-${slug}`}
									src={`../../public/${img}`} 
									alt={`${slug}`} 
								/>
							</a>
							<h3>{readtime}</h3>
							<h5>{description}</h5>
							<h1><a href="">{buy.spain}</a></h1>
							<h1><a href="">{buy.usa}</a></h1>

						</article>
					)
				})

			}
		</div>
	</section>
</Layout>


<style>

    img {
        width: 300px;
        height: 300px;
    }
</style>

